h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  font-size: 4.5vh;
  margin-bottom: 5%;
  height: 10%;
}

#data {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 10%;
  justify-content: space-around;
  background-color: green;
  font-size: 6vh;
  margin-bottom: 2vh;
}

#tables {
  height: 61vh;
  margin-bottom: 2vh;
}

#caption {
  height: 4vh;
  font-size: 2vh;
  padding: 1vh;
  background-color: rgb(2, 29, 2);
  margin-bottom: 2vh;
}

#toggles {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

a {
  height: 5vh;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 3vh;
  text-align: center;
  background-color: rgb(2, 29, 2);
  cursor: pointer;
}

a:hover {
  background-color: green;
}

#today {
  display: flex;
}

#byDate {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: green;
}

form {
  display: flex;
  width: 100%;
  height: 6vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: green;
}

input {
  height: 4vh;
  font-size: 2.5vh;
}

input::placeholder {
  color: lightgray;
}

button {
  height: 4vh;
  font-size: 2.5vh;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

thead {
  height: 4vh;
  background-color: green;
  display: table;
  font-size: 2.2vh;
  font-weight: bold;
}

tbody {
  display: block;
  flex-direction: column;
  background-color: rgb(2, 29, 2);
  height: 40vh;
  overflow-y: scroll;
}

#today tbody {
  height: 46vh;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}

tr {
  font-size: 2vh;
  height: calc(3vh + 1px);
  border-top: 1px solid green;
  border-collapse: collapse;
}

td {
  width: 50%;
}

footer {
  width: 100%;
  max-width: 750px;
  height: 3.5vh;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 29, 2);
}

#copy-right {
  line-height: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(190, 190, 190);
}

#copy-right p {
  text-align: center;
  letter-spacing: normal;
  font-size: 1.5vh;
  font-weight: bold;
  margin: 0;
}

#copy-right a {
  text-decoration: none;
  color: white;
  font-size: 1.5vh;
  font-weight: bold;
}

#copy-right i{
  font-size: 1.5vh;
  padding: 0;
  text-shadow: .1vh .1vh rgb(0, 0, 0);
  margin-left: .5vh;
  margin-right: .5vh;
}
